<header>
  <nav>
    <h1>HumanBooster</h1>
    <ul class="d-flex justify-content-around list-unstyled">
      <li><a routerLink="/programmes">NOS PROGRAMMES</a></li>
      <li><a routerLink="/mangas">MANGAS</a></li>
      <li><a routerLink="/pokemon">POKEMON</a></li>
      <li><a routerLink="/blog">BLOG</a></li>
      <li><a routerLink="/comment">COMMENT</a></li>
      <li><a routerLink="/fruit">FRUIT</a></li>
      <li><a routerLink="/contact">NOUS CONTACTEZ</a></li>
    </ul>
  </nav>
</header>
