<footer>
  <div style="margin-bottom: 10px">
    <a href="#devenirAlternant">DEVENIR ALTERNANT #HB</a>
    <a href="#methodeHB">LA MÉTHODE #HB</a>
    <a href="#rejoinsLaTeam">REJOINS LA TEAM #HB</a>
  </div>
  <div style="margin-bottom: 10px">
    <a href="#espaceEntreprise">ESPACE ENTREPRISE</a>
    <a href="#faq">FAQ</a>
    <a href="#planDuSite">PLAN DU SITE</a>
  </div>
  <div>
    <a href="#mentionsLegales">MENTIONS LÉGALES</a>
    <a href="#donneesPersonnelles">DONNÉES PERSONNELLES</a>
    <a href="#cookies" style="text-decoration: none; color: #333">COOKIES</a>
  </div>
</footer>
