<footer
  style="
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  "
>
  <div style="margin-bottom: 10px">
    <a
      href="#devenirAlternant"
      style="text-decoration: none; color: #333; margin-right: 15px"
      >DEVENIR ALTERNANT #HB</a
    >
    <a
      href="#methodeHB"
      style="text-decoration: none; color: #333; margin-right: 15px"
      >LA MÉTHODE #HB</a
    >
    <a
      href="#rejoinsLaTeam"
      style="text-decoration: none; color: #333; margin-right: 15px"
      >REJOINS LA TEAM #HB</a
    >
  </div>
  <div style="margin-bottom: 10px">
    <a
      href="#espaceEntreprise"
      style="text-decoration: none; color: #333; margin-right: 15px"
      >ESPACE ENTREPRISE</a
    >
    <a
      href="#faq"
      style="text-decoration: none; color: #333; margin-right: 15px"
      >FAQ</a
    >
    <a
      href="#planDuSite"
      style="text-decoration: none; color: #333; margin-right: 15px"
      >PLAN DU SITE</a
    >
  </div>
  <div>
    <a
      href="#mentionsLegales"
      style="text-decoration: none; color: #333; margin-right: 15px"
      >MENTIONS LÉGALES</a
    >
    <a
      href="#donneesPersonnelles"
      style="text-decoration: none; color: #333; margin-right: 15px"
      >DONNÉES PERSONNELLES</a
    >
    <a href="#cookies" style="text-decoration: none; color: #333">COOKIES</a>
  </div>
</footer>
