<h1>Liste de cours</h1>
<section class="container">
  <app-search-course [formationsList]="ArrayStackTechnique" (formationSelected)="recevSelectedFormation($event)">
  </app-search-course>
  <div class="row">
    <!-- -->
    <div *ngFor="let formation of ArrayFormationFilter" [ngClass]="{
        card: true,
        dev: formation.stackTechnique === 'Dev',
        infra: formation.stackTechnique === 'Infra',
        design: formation.stackTechnique === 'Design',
        'col-md-3': true
      }">
      <img src="../assets/images/formation.jpg" alt="{{ formation.nom }}" class="card-image" />
      <div class="card-content">
        <h2 class="card-title">{{ formation.nom | uppercase | slice:0:25 }}</h2>
        <p class="card-stack">{{ formation.stackTechnique | uppercase }}</p>
        <p class="card-dates">Dates: {{ formation.dates }}</p>
        <p class="card-dates">Dates: {{ today |  date:'d MMMM y'}}</p>
        <p class="card-titre">{{ formation.titre | titlecase}}</p>

        <p class="card-places" *ngIf="formation.nombrePlaces < 15">
          Nombre de places: {{ formation.nombrePlaces }}
        </p>
        <p class="card-places fcomplete" *ngIf="formation.nombrePlaces >= 15">
          Formation complète
        </p>

        <p class="card-tarif">Tarif: {{ formation.tarif }} EUR</p>
      </div>
      <!-- <a routerLink="/registration">Je m'inscris</a> -->
      <!-- Button trigger modal -->
      <!-- Exemple (click)="fonction()"
      <div [ngClass]="{ active: isActive, disabled: isDisabled }">Mon text</div>
      <button (click)="isActive = !isActive">Toggle actif</button>
      <button (click)="isDisabled = !isDisabled">Toggle non actif</button>
       -->
      <div class="qty-component">
        <button (click)="increment()" class="btn-qty">+</button>
        <input type="text" value="{{ quantity }}" />
        <button (click)="decrement()" class="btn-qty">-</button>
      </div>
      <div [ngStyle]="{
        'background-color': isLight? 'yellow':'white',
        'font-size.px':fontSize,
      }">
        Le texte a un style dynamique
      </div>
      <button (click)="isLight = !isLight">Toggle Highlight</button>
      <button (click)="fontSize = fontSize + 2">Augment Size</button>
      <button (click)="fontSize = fontSize - 2">Diminu Size</button>
      <button (click)="onSubmit(formation.lieux)" type="button" [ngClass]="{
          btn: true,
          dev: formation.stackTechnique === 'Dev',
          infra: formation.stackTechnique === 'Infra',
          design: formation.stackTechnique === 'Design'
        }" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Inscription
      </button>
    </div>
  </div>
</section>

<!-- Modal 
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
                HEADER Modal  
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Modal title
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
                BODY Modal  
              <div class="modal-body">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    aria-describedby="emailHelpId"
                    placeholder="abc@mail.com"
                  />
                </div>
              </div>
                FOOTER Modal  
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="onSubmit()"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>-->
<!-- <button (click)="onSubmit()">Je m'inscris</button> -->
