<h1>Liste de cours</h1>
<section class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let formation of formations">
      <div class="card">
        <img
          src="../assets/images/formation.jpg"
          alt="{{ formation.nom }}"
          class="card-image"
        />
        <div class="card-content">
          <h2 class="card-title">{{ formation.nom }}</h2>
          <p class="card-stack">{{ formation.stackTechnique }}</p>
          <p class="card-dates">Dates: {{ formation.dates }}</p>
          <p class="card-titre">{{ formation.titre }}</p>
          <p class="card-places">
            Nombre de places: {{ formation.nombrePlaces }}
          </p>
          <p class="card-tarif">Tarif: {{ formation.tarif }} EUR</p>
        </div>
        <!-- <a routerLink="/registration">Je m'inscris</a> -->
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Inscription
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- HEADER Modal -->
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Modal title
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <!-- BODY Modal -->
              <div class="modal-body">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    aria-describedby="emailHelpId"
                    placeholder="abc@mail.com"
                  />
                </div>
              </div>
              <!-- FOOTER Modal -->
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="onSubmit()"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- <button routerLink="/registration">Je m'inscris</button> -->
      </div>
    </div>
  </div>
</section>
