<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- [formGroup]="registrationForm" 
<form (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">Prénom :</label>
    <input id="firstName" formControlName="firstName" />
  </div>

  <div>
    <label for="lastName">Nom :</label>
    <input id="lastName" formControlName="lastName" />
  </div>

  <div>
    <label for="birthDate">Date de naissance :</label>
    <input type="date" id="birthDate" formControlName="birthDate" />
  </div>
 
  <fieldset formGroupName="address">
    <legend>Adresse</legend>
    <div>
      <label for="street">Rue :</label>
      <input id="street" formControlName="street" />
    </div>
    <div>
      <label for="city">Ville :</label>
      <input id="city" formControlName="city" />
    </div>
    <div>
      <label for="postalCode">Code postal :</label>
      <input id="postalCode" formControlName="postalCode" />
    </div>
  </fieldset>

  <div>
    <label for="phoneNumber">Numéro de téléphone :</label>
    <input id="phoneNumber" formControlName="phoneNumber" />
  </div>

  <div>
    <label for="email">Adresse e-mail :</label>
    <input id="email" formControlName="email" />
  </div>

  <div>
    <label for="company">Entreprise :</label>
    <input id="company" formControlName="company" />
  </div>

  <div>
    <label for="currentPosition">Poste actuel :</label>
    <input id="currentPosition" formControlName="currentPosition" />
  </div>

  <fieldset formGroupName="companyAddress">
    <legend>Adresse de l'entreprise</legend>
    <div>
      <label for="companyStreet">Rue :</label>
      <input id="companyStreet" formControlName="street" />
    </div>
    <div>
      <label for="companyCity">Ville :</label>
      <input id="companyCity" formControlName="city" />
    </div>
    <div>
      <label for="companyPostalCode">Code postal :</label>
      <input id="companyPostalCode" formControlName="postalCode" />
    </div>
  </fieldset>
 
  <button type="submit">Soumettre</button>
  <button type="submit" [disabled]="registrationForm.invalid">Soumettre</button> 
</form>
 -->
