<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="image">Image:</label>
    <input id="image" formControlName="image" type="text" />
  </div>
  <div>
    <label for="nom">Nom:</label>
    <input id="nom" formControlName="nom" type="text" />
  </div>
  <div>
    <label for="stackTechnique">Stack Technique:</label>
    <input id="stackTechnique" formControlName="stackTechnique" type="text" />
  </div>
  <div>
    <label for="dates">Dates:</label>
    <input id="dates" formControlName="dates" type="text" />
  </div>
  <div>
    <label for="titre">Titre:</label>
    <input id="titre" formControlName="titre" type="text" />
  </div>
  <div>
    <label for="nombrePlaces">Nombre de Places:</label>
    <input id="nombrePlaces" formControlName="nombrePlaces" type="number" />
  </div>
  <div>
    <label for="tarif">Tarif:</label>
    <input id="tarif" formControlName="tarif" type="text" />
  </div>
  <button type="submit">Submit</button>
</form>

<!-- src/app/add-course/add-course.component.html 
<div class="container mt-5">
  <h2>Ajouter une Formation</h2>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" #courseForm="ngForm">
    <div class="form-group">
      <label for="image">Image URL</label>
      <input type="text" class="form-control" id="image" required [(ngModel)]="course.image" name="image">
    </div>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="course.nom" name="nom">
    </div>
    <div class="form-group">
      <label for="stackTechnique">Stack Technique</label>
      <input type="text" class="form-control" id="stackTechnique" required [(ngModel)]="course.stackTechnique" name="stackTechnique">
    </div>
    <div class="form-group">
      <label for="dates">Dates</label>
      <input type="text" class="form-control" id="dates" required [(ngModel)]="course.dates" name="dates">
    </div>
    <div class="form-group">
      <label for="titre">Titre</label>
      <input type="text" class="form-control" id="titre" required [(ngModel)]="course.titre" name="titre">
    </div>
    <div class="form-group">
      <label for="numbreDePlace">Nombre de Places</label>
      <input type="number" class="form-control" id="numbreDePlace" required [(ngModel)]="course.numbreDePlace" name="numbreDePlace">
    </div>
    <div class="form-group">
      <label for="tarif">Tarif</label>
      <input type="number" class="form-control" id="tarif" required [(ngModel)]="course.tarif" name="tarif">
    </div>
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" class="form-control" id="adresse" required [(ngModel)]="course.adresse" name="adresse">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
  </form>
</div>  -->
