<section>
  <div class="row justify-content-end">
    <div class="col-md-6">
      <div class="col-md-6">
        <img [src]="image" alt="" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="sectionText">
        <h1>L’ÉCOLE DU NUMÉRIQUE ET DES POTENTIELS</h1>
        <p>
          Transformez vos codes avec Human Booster, l’école nouvelle génération
        </p>
        <a class="btn-programmes" routerLink="/programmes">NOS PROGRAMMES</a>
      </div>
    </div>
  </div>
</section>
<!-- 
<div class="row justify-content-end">
  <div class="col-12 col-lg-7">
    <div class="text-block">
      <h1></h1>
      <div class="text-box">
        <p>
          Transformez vos codes avec Human Booster, l’école nouvelle génération
        </p>
      </div>
      <a class="btn" routerLink="/programmes">NOS PROGRAMMES</a>
    </div>
  </div>
</div> -->
